<filesMatch ".(php|js|css)$">
	Header set Cache-Control "no-cache, private"
</FilesMatch>
<filesMatch ".(gif|ico|jpg|jpeg|png|pdf)$">
	Header set Cache-Control "max-age=31536000, public"
</filesMatch>
RewriteEngine On
<If "%{HTTP_HOST} == 'localhost'">
		SetEnv MYHOST "localhost"
		SetEnv MYDIR "/yblog"
	RewriteCond %{HTTPS} on
	RewriteRule (.*) http://localhost%{REQUEST_URI} [L]
	ErrorDocument 403 http://%{ENV:MYHOST}%{ENV:MYDIR}/lib/404.php
	ErrorDocument 404 http://%{ENV:MYHOST}%{ENV:MYDIR}/lib/404.php
	Options +Indexes
	php_flag display_errors 1
	php_flag display_startup_errors 1
	php_value error_reporting "E_ALL"
</If>
<Else>
		SetEnv MYHOST "myhost.com"
	# // force to non-www
	RewriteCond %{HTTP_HOST}^www.%{ENV:MYHOST} [NC]
	RewriteRule ^(.*)$ https://%{ENV:MYHOST}/$1 [L,R=301]
	# // force HTTPS
	RewriteCond %{HTTPS} off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	ErrorDocument 403 https://%{ENV:MYHOST}/lib/404.php
	ErrorDocument 404 https://%{ENV:MYHOST}/lib/404.php
	# // Security
	ServerSignature Off
	DirectoryIndex index.php
	IndexIgnore *
	Header always set Strict-Transport-Security "max-age=31536000"
	Header set X-Frame-Options "DENY"
	Header set X-XSS-Protection: 1
	Header set X-Content-Type-Options: nosniff
	RewriteCond %{REQUEST_URI} ^/(wp-login.php|wp-admin/|wp-content/plugins/|wp-includes/).* [NC]
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ ///.*\ HTTP/ [NC,OR]
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\?\=?(http|ftp|ssl|https):/.*\ HTTP/ [NC,OR]
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\?\?.*\ HTTP/ [NC,OR]
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.(asp|ini|dll).*\ HTTP/ [NC,OR]
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.(htpasswd|htaccess|aahtpasswd).*\ HTTP/ [NC]
	RewriteCond %{REQUEST_METHOD} =POST
	RewriteCond %{HTTP:VIA}%{HTTP:FORWARDED}%{HTTP:USERAGENT_VIA}%{HTTP:X_FORWARDED_FOR}%{HTTP:PROXY_CONNECTION} !^$ [OR]
	RewriteCond %{HTTP:XPROXY_CONNECTION}%{HTTP:HTTP_PC_REMOTE_ADDR}%{HTTP:HTTP_CLIENT_IP} !^$
	RewriteCond %{REQUEST_URI} ^/(wp-login.php|wp-admin/|wp-content/plugins/|wp-includes/).* [NC]
	RewriteCond %{REQUEST_URI} !^/(lib).* [NC]
	RewriteCond %{HTTP_HOST} ^$
	RewriteRule .? - [F,NS,L]
</Else>
<ifmodule mod_deflate.c>
	# // compression directives
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE image/x-icon
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/javascript
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
	Header append Vary User-Agent
</IfModule>

